.modal-title-container {
    display: -block;
    position: relative;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    color: var(--w);
    background: linear-gradient(to bottom, var(--primary), var(--primaryh)) !important;
    padding: 12px 20px;
    /* border-top-left-radius: 40px; */
    border-radius: 10px !important;

    /* text-transform: uppercase; */
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.card-title-container {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--b) !important;
    background-color:  var(--w-light);
    /* background: linear-gradient(to bottom, var(--primary), var(--primaryh)) !important; */
    padding: 6px 10px;
    border-top-left-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 0;
    margin-bottom: 10px;
}
/* TitleTooltip.css */

.modal-title-container {
    display: block;
    position: relative;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    color: var(--w);
    background: linear-gradient(to bottom, var(--primary), var(--primaryh)) !important;
    padding: 12px 20px;
    border-radius: 10px !important;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title-container {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--b) !important;
    background-color: var(--w-light);
    padding: 6px 10px;
    border-top-left-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 0;
    margin-bottom: 10px;
}
